<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>Nutrition Calculator <a href="/index">Home</a></div>
<h1 style="color: #5e9ca0;">RECIPE</h1>
<h2 style="color: #2e6c80;">Step1:</h2>
<p>Please enter the recipe numbers that you have used for today. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;</p>
<table class="editorDemoTable" style="height: 370px;" width="623">
<thead>
<tr>
    <td>Number</td>
    <td>Recipe Name</td>
</tr>
</thead>
<tbody>
<tr>
    <td>1</td>
    <td>Chicken Pot pie</td>
</tr>
<tr>
    <td>2</td>
    <td>Salisbury Steak Dinner, w/Gravy, Mashed Potatoes and Corn in Seasoned Sauce</td>
</tr>
<tr>
    <td>3</td>
    <td>Original Fried Chicken Thigh Meal, w/Mashed Potatoes and Corn in Seasoned Sauce</td>
</tr>
<tr>
    <td>4</td>
    <td>Steak Meal, Gravy &amp; Salisbury Steak w/ Mashed Potatoes and Corn in Seasoned Sauce</td>
</tr>
<tr>
    <td>5</td>
    <td>Sliced Beef Meal, with Gravy, Mashed Potatoes and Peas in Seasoned Sauce</td>
</tr>
<tr>
    <td>6</td>
    <td>Turkey and Gravy w/Dressing Meal, Mashed Potatoes and Peas in Seasoned Sauce</td>
</tr>
<tr>
    <td>7</td>
    <td>Beef Macaroni</td>
</tr>
<tr>
    <td>8</td>
    <td>Beef Pot Pie</td>
</tr>
<tr>
    <td>9</td>
    <td>Beef stew</td>
</tr>
<tr>
    <td>10</td>
    <td>Cheeseburger Macaroni</td>
</tr>
<tr>
    <td>11</td>
    <td>Breakfast Burrito, Ham &amp; Cheese Flavor</td>
</tr>
<tr>
    <td>12</td>
    <td>Burrito, bean and cheese</td>
</tr>
<tr>
    <td>13</td>
    <td>Burrito, bean and cheese</td>
</tr>
<tr>
    <td>14</td>
    <td>Burrito, beef and bean, frozen</td>
</tr>
<tr>
    <td>15</td>
    <td>Burrito, beef and bean, microwaved</td>
</tr>
<tr>
    <td>16</td>
    <td>Mini Beef Ravioli in Meat Sauce</td>
</tr>
<tr>
    <td>17</td>
    <td>Spaghetti in Tomato &amp; Cheese Sauce</td>
</tr>
<tr>
    <td>18</td>
    <td>SpaghettiO's with Meatballs</td>
</tr>
<tr>
    <td>19</td>
    <td>SpaghettiO's with Sliced Franks</td>
</tr>
<tr>
    <td>20</td>
    <td>SpaghettiOs A to Z's</td>
</tr>
<tr>
    <td>21</td>
    <td>SpaghettiOs Danny PhantomShaped Pasta with Sliced Franks</td>
</tr>
<tr>
    <td>22</td>
    <td>SpaghettiOs Dora the ExplorerShaped Pasta</td>
</tr>
<tr>
    <td>23</td>
    <td>
        <div class="facts-heading">SpaghettiOs in Meat Sauce</div>
    </td>
</tr>
<tr>
    <td>24</td>
    <td>SpaghettiOs Original</td>
</tr>
<tr>
    <td>25</td>
    <td>SpaghettiOs plus Calcium</td>
</tr>
<tr>
    <td>26</td>
    <td>SpaghettiOs RavioliOs Beef Ravioli in Meat Sauce</td>
</tr>
<tr>
    <td>27</td>
    <td>SpaghtettiOs A to Z's with Meatballs</td>
</tr>
<tr>
    <td>28</td>
    <td>Cheesy Chicken with pasta</td>
</tr>
<tr>
    <td>29</td>
    <td>Creamy Stroganoff Sauce with pasta</td>
</tr>
<tr>
    <td>30</td>
    <td>Garlic Chicken with pasta</td>
</tr>
<tr>
    <td>31</td>
    <td>Herb Chicken with rice</td>
</tr>
<tr>
    <td>32</td>
    <td>Lemon Chicken with herb rice</td>
</tr>
<tr>
    <td>33</td>
    <td>Savory Pork Chops with herb stuffing</td>
</tr>
<tr>
    <td>34</td>
    <td>Southwestern-Style Chicken w/rice</td>
</tr>
<tr>
    <td>35</td>
    <td>Traditional Roast Chicken with stuffing</td>
</tr>
<tr>
    <td>36</td>
    <td>Chicken A La King</td>
</tr>
<tr>
    <td>37</td>
    <td>Chicken and Dumplings</td>
</tr>
<tr>
    <td>38</td>
    <td>Macaroni w/Beef in tomato Sauce</td>
</tr>
<tr>
    <td>39</td>
    <td>Beef Ravioli in Tomato and Meat Sauce</td>
</tr>
<tr>
    <td>40</td>
    <td>Mini Ravioli, Beef Ravioli in Tomato and Meat Sauce</td>
</tr>
<tr>
    <td>41</td>
    <td>Spaghetti and Meatballs in tomato Sauce</td>
</tr>
<tr>
    <td>42</td>
    <td>Chicken pot pie, frozen entree</td>
</tr>
<tr>
    <td>43</td>
    <td>Chili, no beans, canned entree</td>
</tr>
<tr>
    <td>44</td>
    <td>Chili con carne with beans</td>
</tr>
<tr>
    <td>45</td>
    <td>Cinnamon Swirl French Toast with Sausage</td>
</tr>
<tr>
    <td>46</td>
    <td>Egg rolls, chicken</td>
</tr>
<tr>
    <td>47</td>
    <td>Egg rolls, pork</td>
</tr>
<tr>
    <td>48</td>
    <td>Egg rolls, vegetable</td>
</tr>
<tr>
    <td>49</td>
    <td>Gravy &amp; Sliced Beef Meal, Mashed Potatoes and Carrots</td>
</tr>
<tr>
    <td>50</td>
    <td>Broccoli in Cheese Flavored Sauce</td>
</tr>
<tr>
    <td>51</td>
    <td>Chicken Enchilada Suprema in Green Chili Sauce, Mexican Style Rice, Corn Medley</td>
</tr>
<tr>
    <td>52</td>
    <td>Chicken Teriyaki w/Rice Medley Broccoli</td>
</tr>
<tr>
    <td>53</td>
    <td>Country Roasted Turkey w/Cranberry Apple Sauce, Green Beans &amp; Carrot Blend</td>
</tr>
<tr>
    <td>54</td>
    <td>Beef w/BBQ Sauce, Roasted Red Potatoes, and Corn,Carrot Pea Medley</td>
</tr>
<tr>
    <td>55</td>
    <td>Beef w/BBQ Sauce, Roasted Red Potatoes, Mixed Vegetables in Sauce</td>
</tr>
<tr>
    <td>56</td>
    <td>Steak w/Mushroom Gravy, Roasted Red Potatoes, Green Beans, Corn, Carrot Medley, Caramel Apple Dessert</td>
</tr>
<tr>
    <td>57</td>
    <td>Traditional Meat Loaf w/Brown Sauce, Mashed Potatoes, Green Beans and Apple Praline Crisp</td>
</tr>
<tr>
    <td>58</td>
    <td>Whole Wheat Macaroni and Cheese Dinner</td>
</tr>
<tr>
    <td>59</td>
    <td>Beef Stew</td>
</tr>
<tr>
    <td>60</td>
    <td>Chili, No Beans</td>
</tr>
<tr>
    <td>61</td>
    <td>Chili with Beans</td>
</tr>
<tr>
    <td>62</td>
    <td>Corned Beef Hash</td>
</tr>
<tr>
    <td>63</td>
    <td>Roast Beef Hash</td>
</tr>
<tr>
    <td>64</td>
    <td>Turkey Chili with Beans</td>
</tr>
<tr>
    <td>65</td>
    <td>Vegetarian Chili with Beans</td>
</tr>
<tr>
    <td>66</td>
    <td>Beef &amp; Cheddar Stuffed Sandwich</td>
</tr>
<tr>
    <td>67</td>
    <td>CROISSANT POCKETS Chicken, Broccoli, and Cheddar Stuffed Sandwich</td>
</tr>
<tr>
    <td>68</td>
    <td>Ham 'N Cheese Stuffed Sandwich</td>
</tr>
<tr>
    <td>69</td>
    <td>Sausage Biscuits, breakfast sandwich</td>
</tr>
<tr>
    <td>70</td>
    <td>Chicken Nuggets w/Pasta in Cheese Sauce, Corn in a Seasoned Sauce and Chocolate Pudding w/Sprinkles</td>
</tr>
<tr>
    <td>71</td>
    <td>Macaroni and Cheese Dinner Original Flavor</td>
</tr>
<tr>
    <td>72</td>
    <td>Lasagna, Cheese</td>
</tr>
<tr>
    <td>73</td>
    <td>Lasagna, Vegetable</td>
</tr>
<tr>
    <td>74</td>
    <td>Lasagna with meat &amp; sauce</td>
</tr>
<tr>
    <td>75</td>
    <td>Lasagna with meat &amp; sauce, low-fat</td>
</tr>
<tr>
    <td>76</td>
    <td>Alfredo Egg Noodles in a Creamy Sauce</td>
</tr>
<tr>
    <td>77</td>
    <td>Macaroni and Cheese, canned entree</td>
</tr>
<tr>
    <td>78</td>
    <td>Beef Stroganoff and Noodles w/Carrots and Peas</td>
</tr>
<tr>
    <td>79</td>
    <td>Chicken Pot Pie</td>
</tr>
<tr>
    <td>80</td>
    <td>Turkey w/Gravy and Dressing with Mashed Potatoes, Green Beans and Cranberries</td>
</tr>
<tr>
    <td>81</td>
    <td>Chili Con Carne with Beans</td>
</tr>
<tr>
    <td>82</td>
    <td>Chili with Beans</td>
</tr>
<tr>
    <td>83</td>
    <td>Chili without Beans</td>
</tr>
<tr>
    <td>84</td>
    <td>Corned Beef Hash</td>
</tr>
<tr>
    <td>85</td>
    <td>Chili with Beans</td>
</tr>
<tr>
    <td>86</td>
    <td>Pasta with meatballs in tomato sauce</td>
</tr>
<tr>
    <td>87</td>
    <td>Pasta with Sliced Franks in Tomato Sauce</td>
</tr>
<tr>
    <td>88</td>
    <td>Beef and Bean Burrito, mild</td>
</tr>
<tr>
    <td>89</td>
    <td>Premium Pockets, Original Ham &amp; Cheese</td>
</tr>
<tr>
    <td>90</td>
    <td>Rice bowl with chicken, frozen entree, prepared (includes fried, teriyaki, and sweet and sour varieties)</td>
</tr>
<tr>
    <td>91</td>
    <td>Scrambled Eggs &amp; Sausage with Hashed Brown Potatoes</td>
</tr>
<tr>
    <td>92</td>
    <td>Spaghetti, no meat</td>
</tr>
<tr>
    <td>93</td>
    <td>Spaghetti, with meatballs</td>
</tr>
<tr>
    <td>94</td>
    <td>Spaghetti with meat sauce</td>
</tr>
<tr>
    <td>95</td>
    <td>Classic Chili with Beans</td>
</tr>
<tr>
    <td>96</td>
    <td>Country Chili with Beans</td>
</tr>
<tr>
    <td>97</td>
    <td>Dynamite Chili with Beans</td>
</tr>
<tr>
    <td>98</td>
    <td>Ranchhouse Chili with Beans</td>
</tr>
<tr>
    <td>99</td>
    <td>Chili with Beans</td>
</tr>
<tr>
    <td>100</td>
    <td>Chicken Enchilada and Mexican-Style Rice with Monterey Jack Cheese Sauce</td>
</tr>
<tr>
    <td>101</td>
    <td>Chicken Pie</td>
</tr>
<tr>
    <td>102</td>
    <td>Creamed Chipped Beef</td>
</tr>
<tr>
    <td>103</td>
    <td>Salisbury Steak in Gravy &amp; Macaroni and Cheese</td>
</tr>
<tr>
    <td>104</td>
    <td>Lasagna with Meat &amp; Sauce</td>
</tr>
<tr>
    <td>105</td>
    <td>Chicken and Vegetables with Vermicelli</td>
</tr>
<tr>
    <td>106</td>
    <td>Chicken Enchilada Suiza with Sour Cream Sauce and Mexican-Style Rice</td>
</tr>
<tr>
    <td>107</td>
    <td>Homestyle Beef Pot Roast with Whipped Potatoes</td>
</tr>
<tr>
    <td>108</td>
    <td>Homestyle Stuffed Cabbage with Meat in Tomato Sauce and Whipped Potatoes</td>
</tr>
<tr>
    <td>109</td>
    <td>Macaroni and Beef in Tomato Sauce</td>
</tr>
<tr>
    <td>110</td>
    <td>Oriental Beef with Vegetables and Rice</td>
</tr>
<tr>
    <td>111</td>
    <td>Spaghetti with Meatballs and Sauce</td>
</tr>
<tr>
    <td>112</td>
    <td>Spaghetti with Meat Sauce</td>
</tr>
<tr>
    <td>113</td>
    <td>Swedish Meatballs with Paste</td>
</tr>
<tr>
    <td>114</td>
    <td>Stuffed Peppers with Beef in Tomato Sauce</td>
</tr>
<tr>
    <td>115</td>
    <td>Spinach au Gratin</td>
</tr>
<tr>
    <td>116</td>
    <td>&nbsp;Tortellini, pasta with cheese filling</td>
</tr>
<tr>
    <td>117</td>
    <td>&nbsp;Turkey, stuffing, mashed potatoes w/gravy, assorted vegetables</td>
</tr>
<tr>
    <td>118</td>
    <td>&nbsp;Turkey Pot Pie</td>
</tr>
<tr>
    <td>119</td>
    <td>Chicken Fajita Ki</td>
</tr>
<tr>
    <td>120</td>
    <td>Chicken Enchiladas Suiza, Sour Cream w/Cheese</td>
</tr>
<tr>
    <td>121</td>
    <td>Chicken Tenderloins w/ BBQ Sauce</td>
</tr>
<tr>
    <td>122</td>
    <td>Roast Turkey Medallions, Mushrooms in Sauce w/Rice and Vegetables</td>
</tr>
</tbody>
</table>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
   
    </ul>
   
 
<p><strong>&nbsp;Please enter your meal number below:</strong></p>
<form action="http://localhost:5000/index" method="POST" name="IndexNumber">
{{ form.csrf_token }}
{{ form.hidden_tag()}}
<fieldset>
<p><strong>1.{{form.index1(size=40)}}</strong>{% for message in form.index1.errors %}<div style="color: #FF0000">{{ message }}</div>{% endfor %}</p>        
<p><strong>2.{{form.index2(size=40)}}</strong>{% for message in form.index2.errors %}<div style="color: #FF0000">{{ message }}</div>{% endfor %}</p>
<p><strong>3.{{form.index3(size=40)}}</strong>{% for message in form.index3.errors %}<div style="color: #FF0000">{{ message }}</div>{% endfor %}</p>
<p><strong>4.{{form.index4(size=40)}}</strong>{% for message in form.index4.errors %}<div style="color: #FF0000">{{ message }}</div>{% endfor %}</p>
<p><strong>5.{{form.index5(size=40)}}</strong>{% for message in form.index5.errors %}<div style="color: #FF0000">{{ message }}</div>{% endfor %}</p>
<p>{{form.gender}}{% for message in form.gender.errors %}<div style="color: #FF0000">{{ message }}</div>{% endfor %}</p>
<p style="text-align: center;"><span style="text-decoration: underline;">{{form.submit}}</span></p></form></fieldset>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
<p style="text-align: center;">&nbsp;</p>
</body>
</html>